body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Custom scrollbar */
#app-content::-webkit-scrollbar {
  width: 4px;
}
#app-content::-webkit-scrollbar-track {
  background: transparent;
}
#app-content::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Aturan khusus cetak KTA */
@media print {
  @page {
    size: auto;
    margin: 0;
  }
  html,
  body {
    background: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    overflow: visible !important;
  }
  body * {
    visibility: hidden !important;
  }
  #kta-card,
  #kta-card * {
    visibility: visible !important;
  }
  #kta-card {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 380px !important;
    margin: 0 !important;
    border: 1px solid #cbd5e1 !important;
    box-shadow: none !important;
    z-index: 999999 !important;
  }
}
